<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" class="main-tabs">
    <ion-tab-button tab="dashboard" routerLink="/tabs/dashboard">
      <span class="icon-pill"><ion-icon name="grid-outline"></ion-icon></span>
      <ion-label>Overview</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendar" routerLink="/tabs/calendar">
      <span class="icon-pill"><ion-icon name="calendar-outline"></ion-icon></span>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="campaigns" routerLink="/tabs/campaigns">
      <span class="icon-pill"><ion-icon name="radio-outline"></ion-icon></span>
      <ion-label>Campaigns</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="incidents" routerLink="/tabs/incidents">
      <span class="icon-pill"><ion-icon name="warning-outline"></ion-icon></span>
      <ion-label>Incidents</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/tabs/profile">
      <span class="icon-pill"><ion-icon name="person-circle-outline"></ion-icon></span>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
